@model TNLFish.Models.loai_ca

@{
    ViewBag.Title = "Chi tiết loại cá";
    Layout = "~/Views/Shared/_Layout Admin.cshtml";
}

<style>
    dd {
        color: red;
    }
</style>

<h2 style="text-align: center; margin-top: 10px;">CHI TIẾT LOẠI CÁ</h2>

    <hr />
    <div class="details" style="display: flex;">
        <div>
            <dl class="dl-horizontal">
                <dd>
                    <img style="width: 400px; height: 450px; " src="~/img/@Html.DisplayFor(modelItem => Model.Image)" />
                </dd>
            </dl>
        </div>
        <div style="padding: 0 5%;">
            <dl class="dl-horizontal">
                <dt>
                    Tên dòng cá
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dong_ca.TenDongCa)
                </dd>

                <dt>
                    Tên loại cá
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fish_name)
                </dd>

                <dt>
                    Màu sắc
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt>
                    Mô tả
                </dt>

                <dd>
                    @Html.Raw(Model.Description)
                </dd>

                <dt>
                    Nguồn gốc
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NguonGoc)
                </dd>

                <dt>
                    Giá bán
                </dt>

                <dd>
                    @String.Format("{0:0,0}", Model.Price) VNĐ
                </dd>

                <dt>
                    Số lượng 
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoLuong)
                </dd>
            </dl>
        </div>
    </div>
<p>
    <a class="btn btn-danger" href="@Url.Action("SuaLoaiCa", "Admin", new { id = Model.id })">Sửa</a>
    <a class="btn btn-default" href="@Url.Action("QLloaica", "Admin")">Trở về</a>
</p>